.qt-popup-text-center {
    text-align: center;
}

.qt-popup-text-right {
    text-align: right;
}

.qt-popup-text-left {
    text-align: left;
}

.qt-popup-text-justify {
    text-align: justify;
}
.qt-popup-postbox {
	background-color: #fff;
    top: 20px;
    padding: 5px;
}
.qt-popup-left {
    float:left;
    width:60%;
}

.qt-popup-right {
    float:right;
    width:30%;
}

.qt-popup-center {
    display: block;
    margin: 0 auto;
}

.qt-popup-adhelp {
    line-height: 1em;
    color: #333;
    max-width: 460px; 
}

input.qt-popup-switch:empty {
	margin-left: -999px;
}

input.qt-popup-switch:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.qt-popup-switch:empty ~ label:before, 
input.qt-popup-switch:empty ~ label:after {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.qt-popup-switch:empty ~ label:after {
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.qt-popup-switch:checked ~ label:before {
	background-color: #393;
}

input.qt-popup-switch:checked ~ label:after {
	margin-left: 2em;
}

#qt-popup-adm-contain {
	margin: auto;
}

.qt-popup-adm-accordion,.qt-popup-adm-accordion div,.qt-popup-adm-accordion h1,.qt-popup-adm-accordion p {
	margin: 0;
	padding: 0;
	border: none;
}

/* qt-popup-adm-accordion Layout Styles */
.qt-popup-adm-accordion {
	padding: 1px 5px 5px 5px;

	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
	box-shadow: 0px 1px 0px rgba(255,255,255, .05);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.qt-popup-adm-accordion .qt-popup-adm-tab {
	display: block;
	height: 35px;
	margin-top: 4px;
	padding-left: 20px;
	font: bold 12px/35px Arial, sans-serif;
	text-decoration: none;

	color: #024355;
	text-shadow: 0px 1px 0px rgba(255,255,255, .15);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	background: #73bec4; /* Old browsers */
    background: -webkit-linear-gradient(top, #73bec4 0%, #027280 100%);

	background: -moz-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: -o-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: -ms-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: linear-gradient(top, #73bec4 0%, #027280 100%); /* W3C */

-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
}

.qt-popup-adm-accordion .qt-popup-adm-tab:hover,.qt-popup-adm-accordion div:target .qt-popup-adm-tab {
	color: #eee;
	text-shadow: 1px 1px 0px rgba(0,0,0, .2);

	background: #73bec4; /* Old browsers */
    background: -webkit-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: -moz-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: -o-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: -ms-linear-gradient(top, #73bec4 0%, #027280 100%);
	background: linear-gradient(top, #73bec4 0%, #027280 100%); /* W3C */

-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
}

.qt-popup-adm-accordion div .qt-popup-adm-content {
	display: none;
	margin: 5px 0;
}

.qt-popup-adm-accordion div:target .qt-popup-adm-content {
	display: block;
}

.qt-popup-adm-accordion > div {
	height: 40px;
	overflow: hidden;

}

.qt-popup-adm-accordion > div:target {
	height: auto;
}

.qt-popup-owner,
.qt-popup-owner a{
    text-decoration: none !important;
    color: #000;
    backgrounf-color: inherit;
}

@media(max-width:767px) {
    .qt-popup-left {
        float:none;
        width:100%;
    }

    .qt-popup-right {
        float:none;
        width:100%;
    }
}
